<a href="https://colab.research.google.com/github/Gopi-13-svg/471/blob/main/Assess_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

print(df.head(2))

df['Bonus'] = df['Salary'] * 0.10

average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

print(df.head(2))

df['Bonus'] = df['Salary'] * 0.10

average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0